<h1>NAME</h1>
<p>kbd_backlight - control the keyboard backlight from the command
line</p>
<h1>SYNOPSIS</h1>
<p><strong>kbd_backlight</strong>
[<strong>+</strong>|<strong>-</strong>][<em>num</em>][<strong>%</strong>][<strong>MAX</strong>]</p>
<p><strong>kbd_backlight</strong> [ <strong>--max</strong> ]</p>
<h1>DESCRIPTION</h1>
<p>If it can be controlled via the kernel interface located at
/sys/class/leds/kbd_backlight/brightness, <strong>kbd_backlight</strong>
allows you to easily change your keyboard's backlight brightness from
the command line by specifying the new brightness either as an absolute
number, or as a number relative to the current or max brightness.</p>
<p>When <strong>kbd_backlight</strong> is called with no arguments and
either 1. no options, or 2. the <strong>--max</strong> option, it
returns 1. the current brightness, or 2. the maximum brightness.</p>
<h1>EXAMPLES</h1>
<dl>
<dt>$ kbd_backlight</dt>
<dd>
<p>Get the current brightness.</p>
</dd>
<dt>$ kbd_backlight --max</dt>
<dd>
<p>Get the maximum brightness.</p>
</dd>
<dt>$ kbd_backlight 50</dt>
<dd>
<p>Set the brightness to 50.</p>
</dd>
<dt>$ kbd_backlight +50</dt>
<dd>
<p>Increase the brightness by 50.</p>
</dd>
<dt>$ kbd_backlight -50</dt>
<dd>
<p>Decrease the brightness by 50.</p>
</dd>
<dt>$ kbd_backlight +50%</dt>
<dd>
<p>Increase the brightness by 50%.</p>
</dd>
<dt>$ kbd_backlight -50%</dt>
<dd>
<p>Decrease the brightness by 50%.</p>
</dd>
<dt>$ kbd_backlight 50%</dt>
<dd>
<p>Set the brightness to 50% the current value.</p>
</dd>
<dt>$ kbd_backlight 50%MAX</dt>
<dd>
<p>Set the brightness to 50% the maximum value.</p>
</dd>
<dt>$ kbd_backlight MAX</dt>
<dd>
<p>Set the brightness to the maximum value.</p>
</dd>
</dl>
<h1>REPORTING BUGS</h1>
<p>Bug tracker: &lt;https://gitlab.com/NoisyCoil/kbd_backlight&gt;.</p>
<h1>COPYRIGHT</h1>
<p>Copyright (c) 2023 NoisyCoil &lt;noisycoil@tutanota.com&gt;. License:
MIT &lt;https://mit-license.org&gt;.</p>
